<!DOCTYPE>
<html>
<body>
    <h1>Create your article!</h1>

    <form action="/articles" method="post">
    <lable>Article Title: </lable>
    <p> <input type="text" name="title"/></p>
    <lable>Article Content: </lable>
    <p> <input type="text" name="content"/></p>
    <input type="submit" value="submit">
    </form>